<h3>List of Articles</h3>

<table>
  
  <tr>
    <td width="150px">Title</td>
    <td width="150px">Body</td>
    <td width="200px">Created by</td>
    <td width="100px">CanUpdate?</td>
    <td width="100px">CanDestroy?</td>
    <td width="150px">Actions</td>
  </tr>

</table>