<form>
  <input type="text" name="login" id="loginForm-fieldLogin" placeholder="email" />
  <input type="password" name="password" id="loginForm-fieldPassword" placeholder="password" />

  <button class="loginForm-submit">
    Login
  </button>
</form>